<div class="body">

    <div class="login">
        <h2>{{ title }}</h2>

        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">

            <mat-icon>account_circle</mat-icon>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Titular</mat-label>
                <input type="text" matInput formControlName="usuario" id="name">
            </mat-form-field>
            <br>
            <mat-icon>credit_card</mat-icon>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Numero de Tarjeta</mat-label>
                <input type="text" matInput formControlName="target" maxlenght="16">
            </mat-form-field>
            <table cellspacing="2"><tr>
                <td>
                    <mat-icon>date_range</mat-icon>
                    <mat-form-field appearance="fill">
                  <mat-label>MM/YY</mat-label>
                  <input matInput type="text" formControlName="date" maxlenght="5">
                </mat-form-field>
                </td>
                <td>
                    <mat-icon>key</mat-icon>
                    <mat-form-field appearance="fill">
                  <mat-label>CVV</mat-label>
                  <input matInput type="password" formControlName="key" maxlenght="3">
                </mat-form-field></td>
              </tr></table>

            <br>
            <button type="submit" class="ancho boton" mat-raised-button color="primary" [disabled]="form.invalid">Aceptar</button>
        </form>
    </div>
</div>

{{ form.status }}