.body {
    padding-top: 25%;
    text-align: center;
    background-color: #f5f5f5;
}

.login {
    width: 100%;
}

.ancho {
    width: 80%;
}

.boton {
    height: 50px;
}

.icon {
    width: 20%;
}
