<div class="container">
  <div *ngIf="listUsuarios.length > 0">


   <div class="mat-elevation-z8">

     <table mat-table [dataSource]="dataSource" matSort>

       <ng-container matColumnDef="usuario">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
         <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
       </ng-container>

       <ng-container matColumnDef="target">
         <th mat-header-cell *matHeaderCellDef> Numero de Tarjeta </th>
         <td mat-cell *matCellDef="let element"> {{element.target}} </td>
       </ng-container>
       
       
       <ng-container matColumnDef="date">
         <th mat-header-cell *matHeaderCellDef> Fecha </th>
         <td mat-cell *matCellDef="let element"> {{element.date}} </td>
       </ng-container>
 
       <ng-container matColumnDef="acciones">
         <th mat-header-cell *matHeaderCellDef>Acciones</th>
         <td mat-cell *matCellDef="let element;let i = index" class="alineacion">
             <a class="icono-2 pointer" matTooltip="Editar Usuario" (click)="modificarUsuario(element.usuario)">
               <mat-icon>edit</mat-icon>
             </a>
             <a class="icono-3 pointer" matTooltip="Eliminar Usuario" (click)="eliminarUsuario(element.usuario)">
               <mat-icon>delete</mat-icon>
             </a>
         </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
   </div>
  </div>
  <h2 *ngIf="listUsuarios.length === 0">No hay usuarios para mostrar</h2>
</div>
  

