<div class="container">
  <h1>Tarjetas de Credito</h1>
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <app-agregartarjeta></app-agregartarjeta>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-listatarjeta></app-listatarjeta>
    </mat-grid-tile>
  </mat-grid-list>
</div>